<%= @user.name %>
<img src="<%= @user.image %>">
<div class='projects'>Projects:
  <li><%# @projects.each do |project| %>
  <a href="<%#= project_path(project) %>" alt=""><%#= @project.id %></a><br></li>


  <%# end %>
  <li><%= @project %></li>
</div>

